<!-- student_login.html -->

{% extends "master.html" %}

{% block body %}
<div class="container  ">
    <div class="row ">
        <div class="col-md-12">
            <div class="card-top"></div>
            <div class="card">
                {% if message %}
                    <script>
                        // Display alert for 2 seconds
                        var message = "{{ message }}";
                        alert(message);
                        
                         setTimeout(function(){
                            window.location.href = "{% url 'searchStation' %}";  
                        }, 100);   
                    </script>
                 {% endif %}
                <div class="row" style="padding-left:30px ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h1 class="title" style="text-align:center">Search Station
                            <img src="/static/Images/locate.png" width="50px" alt="Locate Image">
                        </h1>
                        <div class="col-md-12">
                            <form id="sign_in" method="post">
                                {% csrf_token %}

                                <div>
                                    <div class="form-line">
                                        <center>
                                            <img src="/static/Images/mapLocate.jpg" height="150px" width="30%" alt="Map Locate Image">
                                        </center>
                                    </div>
                                </div>
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-account"></i>
                                    </span>
                                    <div class="form-line">
                                        <select id="ddlArea" name="ddlArea" class="form-control">
                                            <option>Search By</option>
                                            <option>Station Name</option>
                                            <option>Area</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-account"></i>
                                    </span>
                                    <div class="form-line">
                                        <input id="txtusername" name="txtusername" class="form-control" placeholder="Search" type="text">
                                    </div>
                                </div>

                                <div>
                                    <div class="text-center">
                                        <button id="Button1" name="Button1" class="btn btn-raised g-bg-cyan waves-effect" type="submit">Search</button>
                                    </div>

                                    <div class="text-center">
                                        <a href="{% url 'index' %}">Home Page</a>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <button id="Button2" name="Button2" class="btn btn-raised g-bg-cyan waves-effect" type="submit">Search User Status</button>
                                    </div>
                                    <br />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
