<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="assets/plugins/morrisjs/morris.css" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-cyan">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar clearHeader">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">Charging Station Master</a>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="admin-image">
                    <img src="Images/home.png" alt="">
                </div>
                <div class="admin-action-info">
                    <!-- <h3>Welcome</h3> -->
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active open">
                        <a href="Default.html"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="SearchStation.html"><i class="zmdi zmdi-search"></i><span>Search Station</span></a>
                    </li>
                    <li>
                        <a href="StationLogin.html"><i class="zmdi zmdi-account-o"></i><span>Station Login</span></a>
                    </li>
                    <li>
                        <a href="AdminLogin.html"><i class="zmdi zmdi-account-o"></i><span>Admin Login</span></a>
                    </li>
                    <li>
                        <a href="ContactUs.html" target="_blank"><i class="zmdi zmdi-phone"></i><span>CONTACT</span></a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
    </section>
    <!-- #END# Right Sidebar -->
    <section style="background:url('images/home.png')" class="content home">
        <div class="container-fluid">
            <div class="block-header">
                <!-- <h3>Eassy Park</h3> -->
            </div>
            <!-- Remaining content is included through the "{% block content %}" in default.html -->
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <div class="color-bg"></div>
    <!-- JavaScript imports and scripts -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>
    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="assets/plugins/chartjs/Chart.bundle.min.js"></script>
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/charts/sparkline.min.js"></script>
    <script src="assets/js/pages/charts/chartjs.min.js"></script>
    <script src="assets/js/pages/index.js"></script>
</body>
</html>
